<section class="bg-gray-100 dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Terms and Conditions of "TheVnect" Social Network</h2>
    <h6 class="mb-8 text-lg tracking-tight font-extrabold text-gray-900 dark:text-white">Last Updated: September 20, 2023</h6>
    <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 ">
      <div>
        <div class="mb-10">
          <p class="text-gray-500 dark:text-gray-400">Welcome to "TheVnect" social network, a platform designed to connect people and foster meaningful interactions. Please carefully read and understand the following terms and conditions before using our services. By accessing or using "TheVnect," you agree to be bound by these terms and conditions.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
              <path d="m19.822 7.431-4.846-7A1 1 0 0 0 14.153 0H1a1 1 0 0 0-.822 1.569L4.63 8 .178 14.431A1 1 0 0 0 1 16h13.153a1.001 1.001 0 0 0 .823-.431l4.846-7a1 1 0 0 0 0-1.138Z"/>
            </svg>
            Acceptance of Terms:
          </h3>
          <p class="text-gray-500 dark:text-gray-400">By using "TheVnect," you acknowledge and agree to abide by these terms and conditions. If you do not agree with any part of these terms, please do not use our services.</p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
              <path d="m19.822 7.431-4.846-7A1 1 0 0 0 14.153 0H1a1 1 0 0 0-.822 1.569L4.63 8 .178 14.431A1 1 0 0 0 1 16h13.153a1.001 1.001 0 0 0 .823-.431l4.846-7a1 1 0 0 0 0-1.138Z"/>
            </svg>
            Eligibility:
          </h3>
          <p class="text-gray-500 dark:text-gray-400">You must be at least 13 years old to use "TheVnect." If you are under 18, you must have permission from a parent or guardian.</p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
              <path d="m19.822 7.431-4.846-7A1 1 0 0 0 14.153 0H1a1 1 0 0 0-.822 1.569L4.63 8 .178 14.431A1 1 0 0 0 1 16h13.153a1.001 1.001 0 0 0 .823-.431l4.846-7a1 1 0 0 0 0-1.138Z"/>
            </svg>
            Account Registration:
          </h3>
          <p class="text-gray-500 dark:text-gray-400">You are responsible for providing accurate and up-to-date information during the registration process. You are also responsible for maintaining the confidentiality of your account credentials.</p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
              <path d="m19.822 7.431-4.846-7A1 1 0 0 0 14.153 0H1a1 1 0 0 0-.822 1.569L4.63 8 .178 14.431A1 1 0 0 0 1 16h13.153a1.001 1.001 0 0 0 .823-.431l4.846-7a1 1 0 0 0 0-1.138Z"/>
            </svg>
            User Conduct:
          </h3>
          <ul class=" text-gray-500 list-disc list-inside dark:text-gray-400">
            <li>You agree not to engage in any illegal, harmful, or abusive behavior on "TheVnect."</li>
            <li>You will respect the rights and privacy of other users."</li>
            <li>You will not impersonate others or provide false information."</li>
            <li>You will not engage in any activity that could harm the platform or its users, including hacking, spamming, or distributing malware.</li>
          </ul>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
            <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
              <path d="m19.822 7.431-4.846-7A1 1 0 0 0 14.153 0H1a1 1 0 0 0-.822 1.569L4.63 8 .178 14.431A1 1 0 0 0 1 16h13.153a1.001 1.001 0 0 0 .823-.431l4.846-7a1 1 0 0 0 0-1.138Z"/>
            </svg>
            Content Guidelines:
          </h3>
          <ul class=" text-gray-500 list-disc list-inside dark:text-gray-400">
            <li>You are solely responsible for the content you post on "TheVnect."</li>
            <li>Content that promotes hate speech, violence, discrimination, or harassment is strictly prohibited.</li>
            <li>You may not post copyrighted material without permission.</li>
            <li>"TheVnect" reserves the right to remove or restrict content that violates these guidelines.</li>
          </ul>
        </div>
        <div class="mb-10">
          <p class="text-gray-500 dark:text-gray-400">By using "TheVnect," you agree to these terms and conditions. We encourage you to review them regularly to stay informed of any updates or changes. Thank you for being a part of our community!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
