<%= content_for :dashboard do %>
  Home
<% end %>
<div class="grid grid-cols-3">
  <div class="col-span-2 p-4">
    <%= render @timeline %>
  </div>
  <div class="col-span-1 p-4">
    <%= render 'home/users_list' %>
  </div>
</div>
