<%= content_for :dashboard do %>
  Home
<% end %>
<div class="grid grid-cols-1 md:grid-cols-4">
  <div class="md:col-span-3 p-4 md:pr-0">
    <%= render 'posts/index' %>
  </div>
  <div class="md:col-span-1 p-4">
    <%= render 'home/users_list' %>
  </div>
</div>
