<% if current_user.pending_requests.size > 0 %>
  <div >
    <div >
      <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">
        <%= current_user.pending_requests.size %>
      </div>
    </div>
  </div>
<% end %>
