<% if pending_requests.size > 0 %>
  <div class="relative flex">
    <div class="relative inline-flex w-3 h-3 bg-red-500 border-2 border-white rounded-full -top-2 right-3 dark:border-gray-900 text-white"></div>
  </div>
<% end %>
